@media (orientation:portrait) {
    body{
        margin: 2.5%;
    }
    .canvas-container {
        display: flex;
        justify-content: center;
    }
    .buttons-container{
        height: 5vmin;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        margin: 2.5% 0;
    }
} 
@media (orientation:landscape) {
    body{
        display: flex;
        margin: 2.5%;
        vertical-align: top;
        justify-content: center;
    }
    .canvas-container {
        display: inline-flex;
    }

    .buttons-container{
        height: 80vmin;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 2.5%;
    }
}
.button{
    background-color: lightcoral;
    width: 10vmin;
    height: 10vmin;
}
canvas {
    width: 80vmin;
    height: 80vmin;
    background-color: aquamarine;
}